@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #312f2f;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.magic {
  background-color: #a21dba;
  color: #fff;
  font-family: Comic Sans MS, Comic Sans, cursive;
  border: 0;
  border-radius: 60px;
  height: 120px;
  width: 120px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px 20px rgb(245, 181, 181);
  z-index: 100;
}

.rotate {
  animation-name: move;
  animation-duration: 0.5s;
}

@keyframes move {
  0% {
    opacity: 0.7;
    box-shadow: 0 3px 20px rgb(181, 181, 245);
    left: 50%;
    top: 20px;
  }
  15% {
    opacity: 0.5;
    box-shadow: 0 3px 20px rgb(237, 245, 181);
    left: 20%;
    top: 20%;
  }
  25% {
    opacity: 0.2;
    box-shadow: 0 3px 20px rgb(245, 181, 181);
    left: 10%;
    top: 50%;
  }
  35% {
    opacity: 0.4;
    box-shadow: 0 3px 20px rgb(181, 218, 245);
    left: 20%;
    top: 70%;
  }
  50% {
    opacity: 0.5;
    box-shadow: 0 3px 20px rgb(181, 245, 196);
    left: 50%;
    top: 90%;
  }
  60% {
    opacity: 0.4;
    box-shadow: 0 3px 20px rgb(231, 73, 73);
    left: 70%;
    top: 70%;
  }
  75% {
    opacity: 0.2;
    box-shadow: 0 3px 20px rgb(183, 181, 245);
    left: 90%;
    top: 50%;
  }
  85% {
    opacity: 0.5;
    box-shadow: 0 3px 20px rgb(181, 245, 185);
    left: 70%;
    top: 10%;
  }
  100% {
    opacity: 0.7;
    box-shadow: 0 3px 20px rgb(189, 201, 82);
    left: 50%;
    top: 20px;
  }
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translate(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  height: 600px;
  width: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url(https://media.giphy.com/media/7waKDy5RbDYVG/giphy.gif);
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}

.box::after {
  content: "";
  background-color: #a21dba;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: "";
  background-color: #7f0f93;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}
